language: python
sudo: required
dist: xenial
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.7-dev"
  - "3.8-dev"

before_install:
  - pip install codecov
  - pip install pytest-cov

install:
  - pip install -e .[tests]

script:
  - pytest --cov-report=xml --cov=geneticpy tests/

after_success:
  - codecov